{% extends "websiteApp/layouts/base.html" %}
{% load static %}

{% block title %} {{ Seo.title }} {% endblock title %}
{% block meta %}
    <meta name="description" content="{{ Seo.description }}">
    <meta name="keywords" content="{{ Seo.keywords }}">
{% endblock meta %}

{% block section %}

        <!-- New Release Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-career-wrap">
            <div class="hero-section-content-wrap">
                <img src="{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">New Releases</h5>
                            <h1 class="section-title fade-in">Exciting new releases to look out!</h1>
                            <p>In the ever-evolving world of entertainment and technology, new releases spark
                                anticipation and excitement among enthusiasts and consumers alike</p>
                            <a href={% url "company.contact_us" %} class="theme-btn">Book an appointment now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- New Release Hero Image -->
        <section class="new-release-hero-img-area">
            <div class="custom-container">
                <div class="new-release-img-box">
                    <img src="{% static 'assets/imgs/new-release-hero-img.jpg' %}" alt="New Release"/>
                </div>
            </div>
        </section>


        <!-- New Release -->
        <section class="new-release-area">
            <div class="custom-container">
                <div class="section-header d-flex align-items-center justify-content-between">
                    <div class="left">
                        <h5 class="section-subtitle">NEW RELEASE</h5>
                        <h1 class="section-title">New releases shaping
                            tomorrow's world</h1>
                    </div>
                    <p>One fundamental aspect of IT services is infrastructure management. This involves the design, implementation, and maintenance of the hardware, software, networks, and servers.</p>
                </div>


                <div class="new-release-items">
                    
                    <div class="sticky-news d-flex card-h">
                        <div class="news-img-box">
                            <img src="{% static 'assets/imgs/new-release-1.jpg' %}" alt="New Release"/>
                        </div>
                        <div class="news-content">
                            <h5 class="section-subtitle">WEB DEVELOPMENT</h5>
                            <h1 class="section-title">Magnus luxury business consulting site 
                                released by bluebase</h1>
                            <p>The makers of AI have announced the company will be dedicating 20% of its compute processing power over the next four years</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Collaboration Tools
                                </li>
                                <li>
                                    <i class="las la-check"></i> Smart Reminders
                                </li>
                            </ul>
                            <a href="#" class="theme-btn">
                                <i class="icon-right iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sticky-news d-flex card-h">
                        <div class="news-img-box">
                            <img src="{% static 'assets/imgs/new-release-2.jpg' %}" alt="New Release"/>
                        </div>
                        <div class="news-content">
                            <h5 class="section-subtitle">CRM SOLUTIONS</h5>
                            <h1 class="section-title">Customer relationship management for
                                a brand new marketing agency</h1>
                            <p>The makers of AI have announced the company will be dedicating 20% of its compute processing power over the next four years</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Collaboration Tools
                                </li>
                                <li>
                                    <i class="las la-check"></i> Smart Reminders
                                </li>
                            </ul>
                            <a href="#" class="theme-btn">
                                <i class="icon-right  iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="sticky-news d-flex card-h">
                        <div class="news-img-box">
                            <img src="{% static 'assets/imgs/new-release-3.jpg' %}" alt="New Release"/>
                        </div>
                        <div class="news-content">
                            <h5 class="section-subtitle">MOBILE DEVELOPMENT</h5>
                            <h1 class="section-title">Slack mobile app developed from fast
                                productivity in your hands</h1>
                            <p>The makers of AI have announced the company will be dedicating 20% of its compute processing power over the next four years</p>
                            <ul>
                                <li>
                                    <i class="las la-check"></i> Collaboration Tools
                                </li>
                                <li>
                                    <i class="las la-check"></i> Smart Reminders
                                </li>
                            </ul>
                            <a href="#" class="theme-btn">
                                <i class="icon-right  iconoir-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- CTA -->
        <section class="cta-area">
            <div class="custom-container">
                <div class="cta-body text-center">
                    <img src="{% static 'assets/imgs/bg-shape-11.svg" alt="Shape" class="animation-slide-left bg-shape"/>
                    <div class="our-expert-team-box">
                        <div class="our-expert-team-box-inner d-flex align-items-center">
                            <div class="imgs d-flex align-items-center">
                                <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                            </div>
                        </div>
                    </div>
                    <h2>Need any further assitance?</h2>
                    <p>Feel free to reach out for any inquiries or assistance.</p>
                    <a href={% url "company.contact_us" %} class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>

{% endblock section %}