{% extends "websiteApp/layouts/base.html" %}
{% load static %}

{% block title %} {{ Seo.title }} {% endblock title %}
{% block meta %}
    <meta name="description" content="{{ Seo.description }}">
    <meta name="keywords" content="{{ Seo.keywords }}">
{% endblock meta %}

{% block section %}

<section class="news-area">
    <div class="custom-container">
        <div class="d-flex card-h">
            <div class="wrapper">
                <h1>Coming soon<span class="dot">.</span></h1>
                <p>We are building our website.</p>
            </div>
        </div>
    </div>
</section>

{% endblock section %}