{% extends "websiteApp/layouts/base.html" %}
{% load static %}

{% block title %} {{ Seo.title }} {% endblock title %}
{% block meta %}
    <meta name="description" content="{{ Seo.description }}">
    <meta name="keywords" content="{{ Seo.keywords }}">
{% endblock meta %}

{% block section %}

<!-- Our Field Hero -->
<section class="hero-service-wrap hero-section-wrap hero-career-wrap hero-our-field-wrap">
    <div class="hero-section-content-wrap">
        <img src="{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
        <div class="custom-container">
            <div class="hero-portfolio-body">
                <div class="hero-section-content text-center">
                    <h5 class="section-subtitle">Healthcare</h5>
                    <h1 class="section-title fade-in">Healthcare through IT solutions</h1>
                    <p>In the ever-evolving landscape of healthcare, technology plays a pivotal role in shaping
                        the future of patient care, medical services, and overall industry efficiency.</p>
                    <a href="{% url 'company.contact_us' %}" class="theme-btn">Book an appointment now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Service -->
<section class="company-service-area">
    <div class="custom-container">
        <div class="hero-service-about">

            <img src="{% static 'assets/imgs/our-field-details.jpg' %}" alt="Our field" />
            <div class="hero-service-about-body">
                <p>Our team is a collective force of top talents, pros, experts, and visionaries from diverse fields.
                    With a passion for excellence, our professionals bring a wealth of experience and knowledge to every
                    project. At Slack, we are committed to delivering nothing short of excellence. From concept to
                    implementation, we maintain the highest standards of quality and craftsmanship, leaving no room for
                    compromise.</p>
                <ul>
                    <li>
                        <i class="las la-check"></i> Managed Services and Products
                    </li>
                    <li>
                        <i class="las la-check"></i> Flexibility and Adaptability
                    </li>
                    <li>
                        <i class="las la-check"></i> Competitive Advantage
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- About Service -->
<section class="about-service7-area about-service7-style-2">
    <div class="custom-container">
        <div class="about-service7-body d-flex align-items-center">
            <div class="about-service7-content">
                <div class="section-header">
                    <h5 class="section-subtitle">HEALTHCARE SPECIALIZATION</h5>
                    <h1 class="section-title">We are best in healthcare</h1>
                    <p>Accurate diagnosis is crucial in effective healthcare
                        delivery.</p>
                </div>
                <p>The project emphasizes the utmost importance of data security and privacy in healthcare IT solutions.
                    Robust cybersecurity measures are implemented to safeguard sensitive patient information, ensuring
                    compliance </p>
                <p>with relevant regulations such as the Health Insurance Portability and Accountability Act (HIPAA). By
                    prioritizing data protection, patient trust is bolstered, healthcare organizations can with
                    confidence in the digital realm.</p>
                <p>The Healthcare IT project recognizes the importance of interoperability among healthcare systems. By
                    ensuring seamless data exchange between different healthcare providers, laboratories, and
                    pharmacies.</p>
            </div>
            <div class="about-service7-img-box d-flex">
                <img src="{% static 'assets/imgs/our-field-2.jpg' %}" alt="Our Field Details" />
                <img src="{% static 'assets/imgs/our-field-3.jpg' %}" alt="Our Field Details" />
            </div>
        </div>
    </div>
</section>


<!-- Feature -->
<section class="feature3-area feature3-style-2">
    <!-- <img src="./{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="bg-shape" /> -->
    <div class="custom-container">
        <div class="feature3-body">
            <div class="section-header">
                <h5 class="section-subtitle">FEATURES</h5>
                <h1 class="section-title">Boosting your
                    business using
                    our team</h1>
            </div>

            <div class="feature3-lists">
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Requirements Gathering</h3>
                    <p>The development process starts with gathering and analyzing the requirements from stakeholders,
                        including clients, end-users, and business analysts
                        requirements from stakeholders, </p>
                </div>
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Devops Interoperability</h3>
                    <p>In today's interconnected world, software often needs to integrate with other systems and
                        platforms. Developing software with interoperability in mind ensures.</p>
                </div>
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Data Integration</h3>
                    <p>Software applications should be designed and developed with scalability in mind. As user bases
                        grow and data increases, the software should be able to handle.</p>
                </div>
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Analytics Performance</h3>
                    <p>The development process starts with gathering and analyzing the requirements from stakeholders,
                        including clients, end and business analysts. As user bases grow and data increases</p>
                </div>
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Data Integration</h3>
                    <p>Software applications should be designed and developed with scalability in mind. As user bases
                        grow and data increases, the software should be able to handle.</p>
                </div>
                <div class="feature-box">
                    <i class="icon-box las la-check"></i>
                    <h3>Analytics Performance</h3>
                    <p>The development process starts with gathering and analyzing the requirements from stakeholders,
                        including clients, end and business analysts. As user bases grow and data increases</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- About -->
<section class="about-service3-area">
    <div class="custom-container">
        <div class="custom-row align-items-center">
            <div class="img-box">
                <img src="{% static 'image/company/better-service.jpg' %}" alt="About Codebright" />
            </div>

            <div class="content-box">
                <h1>Why our services are <br>
                    better than others?</h1>
                <p>We don't believe in a one-size-fit-all approach. Our services are carefully customized to suit your
                    specific need, ensuring you to achieve your goals.</p>
                <p>We believe in delivering value that extends your beyond the immediate project. Our services are
                    designed to provide a long-term benefits.</p>
                <ul>
                    <li>
                        <i class="las la-check"></i> PPD Development
                    </li>
                    <li>
                        <i class="las la-check"></i> Quick Response
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- CTA -->
<section class="cta-area cta-area2 cta-area2-white">
    <div class="custom-container">
        <div class="cta-body text-center d-flex align-items-center justify-content-between">
            <img src="{% static 'assets/imgs/bg-shape-cta.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
            <div class="left">
                <div class="our-expert-team-box">
                    <div class="our-expert-team-box-inner d-flex align-items-center">
                        <div class="imgs d-flex align-items-center">
                            <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                            <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                            <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                            <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                        </div>
                    </div>
                </div>
                <h2>Build your project with us, Make it world class</h2>
                <p>Our projects are born from a passion for innovation that knows no bounds.</p>
            </div>
            <a href="{% url 'company.contact_us' %}" class="theme-btn">Book an appointment now</a>

        </div>
    </div>
</section>

{% endblock section %}