{% load static %}

<!-- Contact -->
<section class="contact-area">
    <div class="custom-container">
        <div class="custom-row">
            <div class="contact-form-wrap">
                <div class="contact-form-body">
                    <h5 class="section-subtitle">Contact</h5>
                    <h1 class="section-title">Let's Get in Touch</h1>
                    <p>You can reach us anytime via <a href="mailto:hr@codebright.in">hr@codebright.in {{site_data.DATA.PR_TEAM}}</a></p>
                    <form action="{% url 'company.contact_us_post' %}" method="POST" id="contact_us"
                        class="contact-form">
                        {% csrf_token %}
                        <input id="PR_WEBSITE" type="hidden" name="PR_WEBSITE" value="1" />
                        <div class="input-row">
                            <div class="input-group form-floating">
                                <input class="form-control" id="firstName" type="text" name="firstName"
                                    placeholder="Your First Name" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group form-floating">
                                <input class="form-control" id="lastName" type="text" name="lastName"
                                    placeholder="Your Last Name" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group form-floating">
                                <input class="form-control" id="emailAddress" type="email" name="emailAddress"
                                    placeholder="Your Email" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group form-floating ">
                                <input class="form-control" id="phone" type="text" name="phone"
                                    placeholder="Your Number" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group form-floating">
                                <textarea name="PR_MESSAGE" id="PR_MESSAGE"
                                    placeholder="Leave us a message...."></textarea>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group input-checkbox  d-flex align-items-center">
                                <input type="checkbox" id="privacy_policy_accept" name="privacy_policy_accept" class="me-2">
                                <label for="privacy_policy_accept" class="form-check-label">
                                    You agree to our <a href="#">terms and conditions.</a>
                                </label>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <button id="submit" class="theme-btn" type="submit">Get Started</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="contact-experience">
                <ul>
                    <li>
                        <h1>4+ <span>Years</span></h1>
                        <p>Field Experience</p>
                    </li>
                    <li>
                        <h1>89+ <span>Projects</span></h1>
                        <p>Done Around the World</p>
                    </li>
                    <li>
                        <h1>99%</h1>
                        <p>Client Satisfaction</p>
                    </li>
                    <li>
                        <h1>2020+ <span>Year</span></h1>
                        <p>Established On</p>
                    </li>
                    <li>
                        <h1>2 <span>Mins</span></h1>
                        <p>Response Time</p>
                    </li>
                </ul>
            </div>

            <div class="contact-infos">
                <div class="contact-infos-inner">
                    <div class="contact-info">
                        <img src="{% static 'assets/imgs/support-icon.svg' %}" alt="Support" />
                        <h3>Contact Info</h3>
                        <p>
                            +91 721 776 6185 <br>
                            <a href="mailto:hr@codebright.in">hr@codebright.in</a>
                        </p>
                    </div>
                    <div class="contact-office-info contact-info">
                        <img src="{% static 'assets/imgs/map-icon.svg' %}" alt="Map" />
                        <h3>Visit Our Office</h3>
                        <p>Singhal Tower, Third Floor, C Block, Sector-58, Noida, UP - 201309</p>
                    </div>
                    <ul class="contact-social-links">
                        <li>
                            <a href="#">
                                <i class="iconoir-facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-instagram"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-linkedin"></i> LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#contact_us').validate({
            // Define validation rules
            rules: {
                firstName: {
                    required: true,
                    minlength: 2
                },
                lastName: {
                    required: true,
                    minlength: 2
                },
                emailAddress: {
                    required: true,
                    email: true
                },
                phone: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 15
                },
                PR_MESSAGE: {
                    required: true,
                    minlength: 10
                },
            },
            // Define error messages
            messages: {
                firstName: {
                    required: "Please enter your first name.",
                    minlength: "Your first name must consist of at least 2 characters."
                },
                lastName: {
                    required: "Please enter your last name.",
                    minlength: "Your last name must consist of at least 2 characters."
                },
                emailAddress: {
                    required: "Please enter your email address.",
                    email: "Please enter a valid email address."
                },
                phone: {
                    required: "Please enter your phone number.",
                    digits: "Please enter only digits.",
                    minlength: "Your phone number must be at least 10 digits long.",
                    maxlength: "Your phone number can't exceed 15 digits."
                },
                PR_MESSAGE: {
                    required: "Please leave a message.",
                    minlength: "Your message must be at least 10 characters long."
                },
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-floating').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid').removeClass('is-valid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid').addClass('is-valid');
            }
        });
    });
</script>

<!-- Footer -->
<footer class="footer-area">

    <img src="{% static 'assets/imgs/bg-shape-4.svg' %}" alt="Shape" class="animation-slide-right bg-shape" />

    <div class="footer-top">
        <div class="custom-container">
            <div class="custom-row align-items-end justify-content-between">
                <div class="left-content">
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/imgs/logo.png' %}" alt="Logo" class="w-25" />
                    </a>
                    <p>We provide the expertise and support to <br> propel your business forward.</p>
                    <form action="" method="POST" class="subscribe-form">
                        <div class="subscribe-box d-flex">
                            <input type="email" id="email" name="email" placeholder="Enter Your Email" />
                            <button id="submit2" class="theme-btn">Get Started</button>
                        </div>
                    </form>
                </div>

                <div class="right-content">
                    <div class="right-content-inner">
                        <h2>Let’s get started on something great</h2>
                        <p>Our team of IT experts looks forward to meeting with you <br>
                            and providing valuable insights tailored to your business.</p>
                        <a href="{% url 'company.contact_us' %}" class="theme-btn">Get an appointment now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="custom-container">
            <div class="custom-row">
                <div class="footer-all-links-wrap justify-content-between d-flex">
                    <div class="footer-links">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'services' %}">IT Support</a></li>
                            <li><a href="{% url 'services' %}">Web Design</a></li>
                            <li><a href="{% url 'services' %}">Development</a></li>
                            <li><a href="{% url 'services' %}">Cloud Things <span class="new">New</span></a></li>
                            <li><a href="{% url 'services' %}">E-Commerce</a></li>
                            <li><a href="{% url 'services' %}">CRM Solutions</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="{% url 'company.blog' %}">Blog</a></li>
                            <li><a href="{% url 'company.about' %}">About Us</a></li>
                            <li><a href="{% url 'company.partners' %}">Partners</a></li>
                            <li><a href="{% url 'company.careers' %}">Careers</a></li>
                            <li><a href="{% url 'company.events' %}">Events</a></li>
                            <li><a href="{% url 'company.team' %}">Team</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Product</h3>
                        <ul>
                            <li><a href="{% url 'product.overview' %}">Overview</a></li>
                            <li><a href="{% url 'product.features' %}">Our Features</a></li>
                            <li><a href="{% url 'product.case_studies' %}">Case Studies</a></li>
                            <li><a href="{% url 'product.new_releases' %}">New Releases</a></li>
                            <li><a href="{% url 'product.solutions' %}">Our Solutions</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Our Fields</h3>
                        <ul>
                            <li><a href="{% url 'our_fields' %}">Healthcare</a></li>
                            <li><a href="{% url 'our_fields' %}">Banks</a></li>
                            <li><a href="{% url 'our_fields' %}">Logistics</a></li>
                            <li><a href="{% url 'our_fields' %}">Supermarkets</a></li>
                            <li><a href="{% url 'our_fields' %}">Industries</a></li>
                            <li><a href="{% url 'our_fields' %}">Hotels</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Legal</h3>
                        <ul>
                            <li><a href="{% url 'legal.licenses' %}">Licenses</a></li>
                            <li><a href="{% url 'legal.settings' %}">Settings</a></li>
                            <li><a href="{% url 'legal.cookies' %}">Cookies</a></li>
                            <li><a href="{% url 'legal.document' %}">Document</a></li>
                            <li><a href="{% url 'legal.terms' %}">Terms</a></li>
                            <li><a href="{% url 'legal.privacy' %}">Privacy</a></li>
                        </ul>
                    </div>

                </div>

                <div class="footer-contact-info">
                    <div class="footer-contact-info-item">
                        <h4>Phone</h4>
                        <p>
                            <!--  <a href="tel:+1-455-1482-236">+1-455-1482-236</a> <br> -->
                            <a href="tel:+91-721-776-61856">+91-721-776-6185</a>
                        </p>
                    </div>
                    <div class="footer-contact-info-item">
                        <h4>Mail</h4>
                        <p>
                            <a href="mailto:hr@codebright.in">hr@codebright.in</a> <br>
                            <a href="mailto:info@codebright.in">info@codebright.in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="custom-container">
            <div class="custom-row d-flex align-items-center justify-content-between">
                <ul class="social-links d-flex align-items-center">
                    <li><a href="#">
                            <i class="iconoir-facebook"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-twitter"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-instagram"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-linkedin"></i>
                        </a></li>
                </ul>
                <p>&copy; 2023 All rights reserved by <a
                        href="https://themeforest.net/user/wordpressriver/portfolio">Codebright</a></p>
            </div>
        </div>
    </div>

</footer>