{% load static %}

<!-- Contact -->
<section class="contact-area">
    <div class="custom-container">
        <div class="custom-row">
            <div class="contact-form-wrap">
                <div class="contact-form-body">
                    <h5 class="section-subtitle">Contact</h5>
                    <h1 class="section-title">Let's Get in Touch</h1>
                    <p>You can reach us anytime via <a href="mailto:hr@codebright.in">hr@codebright.in</a></p>
                    <form action="https://apis.codebright.in/portfolio-api/contact-us-message-add" method="POST" class="contact-form">
                        <input id="PR_WEBSITE" type="hidden" name="PR_WEBSITE" value="1" />
                        <div class="input-row">
                            <div class="input-group">
                                <label for="PR_NAME">Full Name</label>
                                <input id="PR_NAME" type="text" name="PR_NAME" placeholder="Your Full Name" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label for="PR_EMAIL">Email</label>
                                <input id="PR_EMAIL" type="email" name="PR_EMAIL" placeholder="Your Email" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group phone-number">
                                <select class="number-prefix" name="number-prefix">
                                    <option value="ind">IND</option>
                                </select>
                                <label for="PR_PHONE">Phone Number</label>
                                <input id="PR_PHONE" type="text" name="PR_PHONE" placeholder="Your Number" />
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <label for="PR_MESSAGE">Message</label>
                                <textarea name="PR_MESSAGE" id="PR_MESSAGE" placeholder="Leave us a message...."></textarea>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group input-checkbox">
                                <input type="checkbox" id="privacy_policy_accept" name="privacy_policy_accept">
                                <label for="privacy_policy_accept">You agree to our <a href="#">terms and conditions.</a></label>
                            </div>
                        </div>
                        <div class="input-row">
                            <div class="input-group">
                                <button id="submit" class="theme-btn" type="submit">Get Started</button>
                            </div>
                        </div>
                        <!-- Alert Message -->
                        <div class="input-row">
                            <div class="input-group alert-notification">
                                <div id="alert-message" class="alert-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="contact-experience">
                <ul>
                    <li>
                        <h1>4+ <span>Years</span></h1>
                        <p>Field Experience</p>
                    </li>
                    <li>
                        <h1>89+ <span>Projects</span></h1>
                        <p>Done Around the World</p>
                    </li>
                    <li>
                        <h1>99%</h1>
                        <p>Client Satisfaction</p>
                    </li>
                    <li>
                        <h1>2020+ <span>Year</span></h1>
                        <p>Established On</p>
                    </li>
                    <li>
                        <h1>2 <span>Mins</span></h1>
                        <p>Response Time</p>
                    </li>
                </ul>
            </div>

            <div class="contact-infos">
                <div class="contact-infos-inner">
                    <div class="contact-info">
                        <img src="{% static 'assets/imgs/support-icon.svg' %}" alt="Support" />
                        <h3>Contact Info</h3>
                        <p>
                            +91 721 776 6185 <br>
                            <a href="mailto:hr@codebright.in">hr@codebright.in</a>
                        </p>
                    </div>
                    <div class="contact-office-info contact-info">
                        <img src="{% static 'assets/imgs/map-icon.svg' %}" alt="Map" />
                        <h3>Visit Our Office</h3>
                        <p>Singhal Tower, Third Floor, C Block, Sector-58, Noida, UP - 201309</p>
                    </div>
                    <ul class="contact-social-links">
                        <li>
                            <a href="#">
                                <i class="iconoir-facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-twitter"></i> Twitter
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-instagram"></i> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoir-linkedin"></i> LinkedIn
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="footer-area">

    <img src="{% static 'assets/imgs/bg-shape-4.svg' %}" alt="Shape" class="animation-slide-right bg-shape" />

    <div class="footer-top">
        <div class="custom-container">
            <div class="custom-row align-items-end justify-content-between">
                <div class="left-content">
                    <a href="index.html" class="logo">
                        <img src="{% static 'assets/imgs/logo.png' %}" alt="Logo" class="w-25" />
                    </a>
                    <p>We provide the expertise and support to <br> propel your business forward.</p>
                    <form action="" method="POST" class="subscribe-form">
                        <div class="subscribe-box d-flex">
                            <input type="email" id="email" name="email" placeholder="Enter Your Email" />
                            <button id="submit2" class="theme-btn">Get Started</button>
                        </div>
                    </form>
                </div>

                <div class="right-content">
                    <div class="right-content-inner">
                        <h2>Let’s get started on something great</h2>
                        <p>Our team of IT experts looks forward to meeting with you <br>
                            and providing valuable insights tailored to your business.</p>
                        <a href="{% url 'company.contact_us' %}" class="theme-btn">Get an appointment now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="custom-container">
            <div class="custom-row">
                <div class="footer-all-links-wrap justify-content-between d-flex">
                    <div class="footer-links">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="{% url 'services' %}">IT Support</a></li>
                            <li><a href="{% url 'services' %}">Web Design</a></li>
                            <li><a href="{% url 'services' %}">Development</a></li>
                            <li><a href="{% url 'services' %}">Cloud Things <span class="new">New</span></a></li>
                            <li><a href="{% url 'services' %}">E-Commerce</a></li>
                            <li><a href="{% url 'services' %}">CRM Solutions</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="{% url 'company.blog' %}">Blog</a></li>
                            <li><a href="{% url 'company.about' %}">About Us</a></li>
                            <li><a href="{% url 'company.partners' %}">Partners</a></li>
                            <li><a href="{% url 'company.careers' %}">Careers</a></li>
                            <li><a href="{% url 'company.events' %}">Events</a></li>
                            <li><a href="{% url 'company.team' %}">Team</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Product</h3>
                        <ul>
                            <li><a href="{% url 'product.overview' %}">Overview</a></li>
                            <li><a href="{% url 'product.features' %}">Our Features</a></li>
                            <li><a href="{% url 'product.case_studies' %}">Case Studies</a></li>
                            <li><a href="{% url 'product.new_releases' %}">New Releases</a></li>
                            <li><a href="{% url 'product.solutions' %}">Our Solutions</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Our Fields</h3>
                        <ul>
                            <li><a href="{% url 'our_fields' %}">Healthcare</a></li>
                            <li><a href="{% url 'our_fields' %}">Banks</a></li>
                            <li><a href="{% url 'our_fields' %}">Logistics</a></li>
                            <li><a href="{% url 'our_fields' %}">Supermarkets</a></li>
                            <li><a href="{% url 'our_fields' %}">Industries</a></li>
                            <li><a href="{% url 'our_fields' %}">Hotels</a></li>
                        </ul>
                    </div>
                    <div class="footer-links">
                        <h3>Legal</h3>
                        <ul>
                            <li><a href="{% url 'legal.licenses' %}">Licenses</a></li>
                            <li><a href="{% url 'legal.settings' %}">Settings</a></li>
                            <li><a href="{% url 'legal.cookies' %}">Cookies</a></li>
                            <li><a href="{% url 'legal.document' %}">Document</a></li>
                            <li><a href="{% url 'legal.terms' %}">Terms</a></li>
                            <li><a href="{% url 'legal.privacy' %}">Privacy</a></li>
                        </ul>
                    </div>

                </div>

                <div class="footer-contact-info">
                    <div class="footer-contact-info-item">
                        <h4>Phone</h4>
                        <p>
                            <!--  <a href="tel:+1-455-1482-236">+1-455-1482-236</a> <br> -->
                            <a href="tel:+91-721-776-61856">+91-721-776-6185</a>
                        </p>
                    </div>
                    <div class="footer-contact-info-item">
                        <h4>Mail</h4>
                        <p>
                            <a href="mailto:hr@codebright.in">hr@codebright.in</a> <br>
                            <a href="mailto:info@codebright.in">info@codebright.in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-area">
        <div class="custom-container">
            <div class="custom-row d-flex align-items-center justify-content-between">
                <ul class="social-links d-flex align-items-center">
                    <li><a href="#">
                            <i class="iconoir-facebook"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-twitter"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-instagram"></i>
                        </a></li>
                    <li><a href="#">
                            <i class="iconoir-linkedin"></i>
                        </a></li>
                </ul>
                <p>&copy; 2023 All rights reserved by <a href="https://themeforest.net/user/wordpressriver/portfolio">Codebright</a></p>
            </div>
        </div>
    </div>

</footer>