{% load static %}
<!-- Header -->
<header class="header-area">

    <div class="custom-container">
        <div class="custom-row align-items-center justify-content-between">
            <div class="header-left d-flex align-items-center">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'assets/imgs/logo.png' %}" alt="Logo" />
                </a>

                <div class="header-left-right">
                    <a href="{% url 'company.contact_us' %}" class="theme-btn">Contact Us</a>
                    <span class="menu-bar">
                        <i class="las la-bars"></i>
                    </span>
                </div>
                <nav class="navbar-wrapper">
                    <span class="close-menu-bar">
                        <i class="las la-times"></i>
                    </span>
                    <ul>
                        <li>
                            <a href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'company' %}">Company</a>
                            <span class="dropdown-menu-item-icon">
                                <i class="las la-angle-down"></i>
                            </span>
                            <div class="mega-menu mega-menu-company">
                                <div class="mega-menu-inner">
                                    <div class="custom-container d-flex">
                                        <div class="left">
                                            <div class="mega-menu-link-wrap d-flex justify-content-between">
                                                {% comment %} <div class="mega-menu-link">
                                                    <h3>Get Started</h3>
                                                    <ul>
                                                        <li><a href="#">Setup 101</a></li>
                                                        <li><a href="#">Adding users</a></li>
                                                        <li><a href="#">Video tutorials</a></li>
                                                        <li><a href="#">Libraries and SDKs</a></li>
                                                        <li><a href="#">Plugins</a></li>
                                                        <li><a href="#">Templates</a></li>
                                                    </ul>
                                                </div> {% endcomment %}

                                                <div class="mega-menu-links d-flex">
                                                    <div class="mega-menu-link">
                                                        <h3>Company</h3>
                                                        <ul>
                                                            <li><a href="{% url 'company.about' %}">About Us</a></li>
                                                            <li><a href="{% url 'company.partners' %}">Partners</a></li>
                                                            <li><a href="{% url 'company.careers' %}">Careers</a></li>
                                                            <li><a href="{% url 'company.events' %}">Events</a></li>
                                                            <li><a href="{% url 'company.team' %}">Team</a></li>
                                                            <li><a href="{% url 'company.blog' %}">Blog</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="mega-menu-link">
                                                        <h3>Product</h3>
                                                        <ul>
                                                            <li><a href="{% url 'product.overview' %}">Overview</a></li>
                                                            {% comment %} <li><a href="{% url 'product.pricing' %}">Pricing</a></li> {% endcomment %}
                                                            <li><a href="{% url 'product.features' %}">Features</a></li>
                                                            <li><a href="{% url 'product.case_studies' %}">Case
                                                                    Studies</a></li>
                                                            <li><a href="{% url 'product.new_releases' %}">New
                                                                    Releases</a></li>
                                                            <li><a href="{% url 'product.solutions' %}">Solutions</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="mega-menu-link">
                                                        <h3>Legal</h3>
                                                        <ul>
                                                            <li><a href="{% url 'legal.licenses' %}">Licenses</a></li>
                                                            <li><a href="{% url 'legal.settings' %}">Settings</a></li>
                                                            <li><a href="{% url 'legal.cookies' %}">Cookies</a></li>
                                                            <li><a href="{% url 'legal.document' %}">Document</a></li>
                                                            <li><a href="{% url 'legal.terms' %}">Terms & Condition</a></li>
                                                            <li><a href="{% url 'legal.privacy' %}">Privacy Policy</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="mega-meu-footer d-flex align-items-center justify-content-between w-full">
                                                <ul class="mega-menu-social d-flex align-items-center">
                                                    <li><a href="#"><i class="iconoir-facebook"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-twitter"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-instagram"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-linkedin"></i></a></li>
                                                </ul>

                                                <p>Looking for new career? <a href="{% url 'company.careers' %}">We're
                                                        hiring</a></p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="mega-menu-ads">
                                                <img src="{% static 'assets/imgs/iphone-13-1.jpg'%}" alt="Iphone" />
                                                <h2>Solution in your hand</h2>
                                                <p>Develop IT solutions based on the<br> analysis phase.</p>
                                                <a href="">View more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'portfolio' %}">Portfolio</a>
                            <span class="dropdown-menu-item-icon">
                                <i class="las la-angle-down"></i>
                            </span>
                            <div class="mega-menu mega-menu-portfolio">
                                <div class="mega-menu-inner">
                                    <div class="custom-container d-flex">
                                        <div class="left">
                                            <div
                                                class="mega-menu-link-wrap d-flex align-items-start justify-content-between">
                                                <div class="mega-menu-portfolio-card">
                                                    <div class="img-box">
                                                        <img src="{% static 'assets/imgs/portfolio-mega-menu-1.jpg'%}"
                                                            alt="Portfolio" />
                                                    </div>
                                                    <div class="content-box">
                                                        <h3><a href="portfolio-details.html">E-commerce</a></h3>
                                                        <p>we undertook a project to <br>migrate their existing.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="mega-menu-portfolio-card">
                                                    <div class="img-box">
                                                        <img src="{% static 'assets/imgs/portfolio-mega-menu-2.jpg'%}"
                                                            alt="Portfolio" />
                                                    </div>
                                                    <div class="content-box">
                                                        <h3><a href="portfolio-details.html">App Development</a></h3>
                                                        <p>The mobile application has <br>significantly
                                                            improved.</p>
                                                    </div>
                                                </div>
                                                <div class="mega-menu-portfolio-card">
                                                    <div class="img-box">
                                                        <img src="{% static 'assets/imgs/portfolio-mega-menu-3.jpg'%}"
                                                            alt="Portfolio" />
                                                    </div>
                                                    <div class="content-box">
                                                        <h3><a href="portfolio-details.html">SAAS Integration</a></h3>
                                                        <p>We partnered with DEF to <br>upgrade their outdated
                                                            IT.</p>
                                                    </div>
                                                </div>
                                                <div class="mega-menu-portfolio-card">
                                                    <div class="img-box">
                                                        <img src="{% static 'assets/imgs/portfolio-mega-menu-4.jpg'%}"
                                                            alt="Portfolio" />
                                                    </div>
                                                    <div class="content-box">
                                                        <h3><a href="portfolio-details.html">Virtual Reality</a></h3>
                                                        <p>Enter into the virtual reality <br>
                                                            world for real experience.</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="mega-meu-footer d-flex align-items-center justify-content-between w-full">
                                                <ul class="mega-menu-social d-flex align-items-center">
                                                    <li><a href="#"><i class="iconoir-facebook"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-twitter"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-instagram"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-linkedin"></i></a></li>
                                                </ul>

                                                <p>
                                                    <a href="{% url 'portfolio' %}">View Portfolio <i
                                                            class="iconoir-arrow-up-right"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="mega-menu-ads">
                                                <img src="{% static 'assets/imgs/macbook.jpg'%}" alt="iPad" />
                                                <h2>Mobile app for a new era</h2>
                                                <p>Download slack in your mobile for <br>
                                                    your daily usage.</p>
                                                <a href="case-studie-single.html">View more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mega-menu-item">
                            <a href="{% url 'services' %}">Services</a>
                            <span class="dropdown-menu-item-icon">
                                <i class="las la-angle-down"></i>
                            </span>
                            <div class="mega-menu">
                                <div class="mega-menu-inner">
                                    <div class="custom-container d-flex">
                                        <div class="left">
                                            <div
                                                class="mega-menu-link-wrap d-flex align-items-start justify-content-between">
                                                <div class="mega-menu-service-cards align-items-start">
                                                    <div class="mega-menu-service-card">
                                                        <span class="icon">
                                                            <img src="{% static 'assets/imgs/hwd-icon-1.svg' %}"
                                                                alt="Service" />
                                                        </span>
                                                        <div class="content">
                                                            <h2><a href="how-we-do-single.html">Brainstroming</a></h2>
                                                            <p>Ideas</p>
                                                        </div>
                                                    </div>
                                                    <div class="mega-menu-service-card">
                                                        <span class="icon">
                                                            <img src="{% static 'assets/imgs/hwd-icon-4.svg' %}"
                                                                alt="Service" />
                                                        </span>
                                                        <div class="content">
                                                            <h2><a href="how-we-do-single.html">Product</a></h2>
                                                            <p>Design</p>
                                                        </div>
                                                    </div>
                                                    <div class="mega-menu-service-card">
                                                        <span class="icon">
                                                            <img src="{% static 'assets/imgs/hwd-icon-2.svg' %}"
                                                                alt="Service" />
                                                        </span>
                                                        <div class="content">
                                                            <h2><a href="how-we-do-single.html">SEO</a></h2>
                                                            <p>Optimization</p>
                                                        </div>
                                                    </div>
                                                    <div class="mega-menu-service-card">
                                                        <span class="icon">
                                                            <img src="{% static 'assets/imgs/hwd-icon-3.svg' %}"
                                                                alt="Service" />
                                                        </span>
                                                        <div class="content">
                                                            <h2><a href="how-we-do-single.html">Front-End</a></h2>
                                                            <p>Development</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mega-menu-links d-flex">
                                                    <div class="mega-menu-link">
                                                        <h3>Services</h3>
                                                        <ul>
                                                            <li><a href="{% url 'services' %}">Development</a></li>
                                                            <li><a href="{% url 'services' %}">Web Design</a></li>
                                                            <li><a href="{% url 'services' %}">IT Support</a></li>
                                                            <li><a href="{% url 'services' %}">E-Commerce</a></li>
                                                            <li><a href="{% url 'services' %}">Cloud Things</a></li>
                                                            <li><a href="{% url 'services' %}">CRM Solutions</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="mega-menu-link">
                                                        <h3>Our Fields</h3>
                                                        <ul>
                                                            <li><a href="{% url 'our_fields' %}">Healthcare</a></li>
                                                            <li><a href="{% url 'our_fields' %}">Banks</a></li>
                                                            <li><a href="{% url 'our_fields' %}">Logistics</a></li>
                                                            <li><a href="{% url 'our_fields' %}">Supermarkets</a></li>
                                                            <li><a href="{% url 'our_fields' %}">Industries</a></li>
                                                            <li><a href="{% url 'our_fields' %}">Hotels</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="mega-meu-footer d-flex align-items-center justify-content-between w-full">
                                                <ul class="mega-menu-social d-flex align-items-center">
                                                    <li><a href="#"><i class="iconoir-facebook"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-twitter"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-instagram"></i></a></li>
                                                    <li><a href="#"><i class="iconoir-linkedin"></i></a></li>
                                                </ul>

                                                <p>Looking for new career? <a href="{% url 'company.careers' %}">We're
                                                        hiring</a></p>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <div class="mega-menu-ads">
                                                <img src="{% static 'assets/imgs/ipad.jpg'%}" alt="iPad" />
                                                <h2>Our product hits</h2>
                                                <p>Our new best IT product of the <br>year 2023.</p>
                                                <a href="">View more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="{% url 'faq' %}">FAQ</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <div class="header-contact-info d-flex align-items-center">
                    <div class="phone-number">
                        <a href="tel:+91-721-776-6185">
                            Call Us
                            <i class="iconoir-arrow-up-right"></i>
                        </a>
                        +91-721-776-6185
                    </div>
                    <a href="{% url 'company.contact_us' %}" class="theme-btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</header>