{% extends "websiteApp/layouts/base.html" %}
{% load static %}

{% block title %} {{ Seo.title }} {% endblock title %}
{% block meta %}
<meta name="description" content="{{ Seo.description }}">
<meta name="keywords" content="{{ Seo.keywords }}">
{% endblock meta %}

{% block section %}

<!-- Company Hero -->
<section class="hero-service-wrap hero-section-wrap hero-company-wrap">
    <div class="hero-section-content-wrap">
        <div class="custom-container">
            <div class="hero-section-content text-center">
                <h5 class="section-subtitle">Company</h5>
                <h1 class="section-title fade-in">Our company provide a best <br>
                    horizon tech solutions</h1>
                <p>Experience the transformative power of innovation and seamless solutions with
                    dynamics. Our journey doesn't end with the delivery of a solution.</p>
            </div>

            <div class="hero-company-boxes">
                <div class="hero-company-box simple-shadow">
                    <h1>300+</h1>
                    <h3>Projects</h3>
                    <p>We are spread around
                        the world.</p>
                </div>
                <div class="hero-company-box simple-shadow">
                    <h1>100%</h1>
                    <h3>Client Satisfaction</h3>
                    <p>Our clients a happy with
                        our service.</p>
                </div>
                <div class="hero-company-box simple-shadow">
                    <h1>15k</h1>
                    <h3>Legal Customers</h3>
                    <p>Our customers are from
                        many countries.</p>
                </div>
                <div class="hero-company-box simple-shadow">
                    <h1>1995</h1>
                    <h3>We Established On</h3>
                    <p>Our company have a
                        great history.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Client Section -->
<section class="client-area">
    <div class="clients clients-marquee d-flex align-items-center">
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo1.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo2.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo3.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo4.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo5.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo2.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo3.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo4.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo5.svg' %}" alt="Client" />
        </div>
        <div class="client-logo simple-shadow">
            <img src="{% static 'assets/imgs/client-logo2.svg' %}" alt="Client" />
        </div>
        <div class="client-logo" style="min-width: 0;"></div>
    </div>
</section>

<!-- Service -->
<section class="company-service-area">
    <div class="custom-container">
        <div class="hero-service-about">
            <div class="section-header d-flex align-items-center justify-content-between w-full">
                <div class="left">
                    <h5 class="section-subtitle">OUR COMPANY</h5>
                    <h1 class="section-title">Why our company is too popular?</h1>
                    <p>Contact us today to begin your journey!</p>
                </div>
                <a href="{% url 'company.contact_us' %}" class="theme-btn">Contact Us</a>
            </div>

            <img src="{% static 'assets/imgs/hero-company-about.jpg' %}" alt="Service About" />
            <div class="hero-service-about-body">
                <p>Our team is a collective force of top talents, pros, experts, and visionaries from diverse fields.
                    With a passion for excellence, our professionals bring a wealth of experience and knowledge to every
                    project. At Slack, we are committed to delivering nothing short of excellence. From concept to
                    implementation, we maintain the highest standards of quality and craftsmanship, leaving no room for
                    compromise.</p>
                <ul>
                    <li>
                        <i class="las la-check"></i> Managed Services and Products
                    </li>
                    <li>
                        <i class="las la-check"></i> Flexibility and Adaptability
                    </li>
                    <li>
                        <i class="las la-check"></i> Competitive Advantage
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Service Area -->
<section class="service4-area service-area">
    <div class="custom-container">
        <div class="service-section-header section-header d-flex align-items-end justify-content-between">
            <div class="left">
                <h5 class="section-subtitle">WHAT WE’RE OFFERING</h5>
                <h1 class="section-title">Dealing in all professional <br>IT services.</h1>
            </div>
            <p>One fundamental aspect of IT services is infrastructure management. This involves the design,
                implementation, and maintenance of the hardware, software, networks, and servers.</p>
        </div>

        <div class="services-list d-flex">
            <div class="service-card simple-shadow">
                <img src="{% static 'assets/imgs/service-icon-1.svg' %}" alt="Service Icon" class="service-icon" />
                <h3><a href="#">Development</a></h3>
                <p>Our development is pixel perfect in all ways.</p>
            </div>
            <div class="service-card simple-shadow">
                <img src="{% static 'assets/imgs/service-icon-2.svg' %}" alt="Service Icon" class="service-icon" />
                <h3><a href="#">Woo Commerce</a></h3>
                <p>We have a best team for your shopping websites.</p>
            </div>
            <div class="service-card simple-shadow">
                <img src="{% static 'assets/imgs/service-icon-3.svg' %}" alt="Service Icon" class="service-icon" />
                <h3><a href="#">CRM Solutions</a></h3>
                <p>We enhance customer experiences for success.</p>
            </div>
            <div class="service-card simple-shadow">
                <img src="{% static 'assets/imgs/service-icon-4.svg' %}" alt="Service Icon" class="service-icon" />
                <h3><a href="#">Web Design</a></h3>
                <p>We create vibrant, intuitive and minimalist web</p>
            </div>
            <div class="service-card simple-shadow">
                <span class="service-badge">Free!</span>
                <img src="{% static 'assets/imgs/service-icon-5.svg' %}" alt="Service Icon" class="service-icon" />
                <h3><a href="#">IT Support</a></h3>
                <p>We offers expert assistance for your IT issues.</p>
            </div>
        </div>
    </div>
</section>

<!-- Our Team -->
<section class="our-team-2-area">
    <div class="custom-container">
        <div class="section-header our-team-2-header d-flex align-items-center justify-content-between w-full">
            <img class="bg-shape" src="{% static 'assets/imgs/bg-shape-10.svg' %}" alt="Shape" />
            <div class="left">
                <h5 class="section-subtitle">OUR TEAM</h5>
                <h1 class="section-title">Our professional experts</h1>
                <p>Our team is a collective force of top talents, experts, and <br> visionaries from diverse fields.</p>
            </div>
            <a href="{% url 'company.contact_us' %}" class="theme-btn">Book an appointment with our expert now</a>
        </div>

        <div class="our-team-2-lists">
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Priyesh Tiwari</h2>
                <span class="designation">Business Manager</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Rashmi</h2>
                <span class="designation">Human Resource</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Garima Raj</h2>
                <span class="designation">Python Developer</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Pradeep Kumar</h2>
                <span class="designation">Sr. Python Developer</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Manas Rai</h2>
                <span class="designation">Flutter Developer</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Awanish rai</h2>
                <span class="designation">Python Developer</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Mayank Kumar</h2>
                <span class="designation">Cloud Expert</span>
            </div>
            <div class="our-team-2-card">
                <div class="img-box">
                    <img src="{% static 'default_user.png' %}" alt="Team" />
                </div>
                <h2>Ankita Kumari</h2>
                <span class="designation">Jr. Flutter Developer</span>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="about-service3-area">
    <div class="custom-container">
        <div class="custom-row align-items-center">
            <div class="img-box">
                <img src="{% static 'assets/imgs/about-service-3.png' %}" alt="About" />
            </div>

            <div class="content-box">
                <h1>Why our services are <br>
                    better than others?</h1>
                <p>We don't believe in a one-size-fit-all approach. Our services are carefully customized to suit your
                    specific need, ensuring you to achieve your goals.</p>
                <p>We believe in delivering value that extends your beyond the immediate project. Our services are
                    designed to provide a long-term benefits.</p>
                <ul>
                    <li>
                        <i class="las la-check"></i> PPD Development
                    </li>
                    <li>
                        <i class="las la-check"></i> Quick Response
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
<section class="cta-area">
    <div class="custom-container">
        <div class="cta-body text-center">
            <img src="{% static 'assets/imgs/bg-shape-11.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
            <div class="our-expert-team-box">
                <div class="our-expert-team-box-inner d-flex align-items-center">
                    <div class="imgs d-flex align-items-center">
                        <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                        <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                        <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                        <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                    </div>
                </div>
            </div>
            <h2>Need any further assitance?</h2>
            <p>Feel free to reach out for any inquiries or assistance.</p>
            <a href="{% url 'company.contact_us' %}" class="theme-btn">Book an appointment now</a>

        </div>
    </div>
</section>

{% endblock section %}