{% extends "websiteApp/layouts/base.html" %}
{% load static %}

{% block title %} {{ Seo.title }} {% endblock title %}
{% block meta %}
    <meta name="description" content="{{ Seo.description }}">
    <meta name="keywords" content="{{ Seo.keywords }}">
{% endblock meta %}

{% block section %}

        <!-- Team Hero -->
        <section class="hero-service-wrap hero-section-wrap hero-career-wrap hero-event-wrap">
            <div class="hero-section-content-wrap">
                <img src="{% static 'assets/imgs/bg-shape-1.svg' %}" alt="Shape" class="animation-slide-left bg-shape" />
                <div class="custom-container">
                    <div class="hero-portfolio-body">
                        <div class="hero-section-content text-center">
                            <h5 class="section-subtitle">Team</h5>
                            <h1 class="section-title fade-in">Meet our highly talented team</h1>
                            <p>Our team is a vibrant tapestry of backgrounds, expertise, and perspectives. 
                                We believe that diversity fuels innovation and creativity</p>
                            <a href={% url "company.contact_us" %} class="theme-btn">Book an appointment now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Our Team -->
        <section class="our-team-4-area">
            <div class="custom-container">
                <div class="section-header">
                    <h5 class="section-subtitle">LEADERSHIP</h5>
                    <h1 class="section-title">Our Company Leading Members</h1>
                    <p>Are you busy putting out IT fires instead of focusing on your core business</p>
                </div>
                
                <div class="our-team-4-lists">
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/priyesh.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Priyesh Tiwari</h3>
                            <p>Business Manager</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/rashmi.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Rashmi</h3>
                            <p>Human Resource</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/pradeep.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Pradeep Kumar</h3>
                            <p>Sr. Python Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/garima.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Garima Raj</h3>
                            <p>Jr. Python Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/awanish.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Awanish Rai</h3>
                            <p>Python Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/manas.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Manas Rai</h3>
                            <p>Flutter Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/mayank.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Mayank Kumar</h3>
                            <p>Jr. Python Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/prabhat.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Prabhat Kumar</h3>
                            <p>Back-End Developer</p>
                        </div>
                    </div>
                    <div class="our-team-4-box">
                        <div class="img-box">
                            <img src="{% static 'users/ankita.jpeg' %}" alt="Team" />
                        </div>
                        <div class="content">
                            <h3>Ankita Kumari</h3>
                            <p>Android Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Feature -->
        <section class="feature3-area">
            <img src="{% static 'assets/imgs/bg-shape-1.svg '%}" alt="Shape" class="animation-slide-left bg-shape" />
            <div class="custom-container">
                <div class="custom-row align-items-center">
                    <div class="section-header">
                        <h5 class="section-subtitle">FEATURES</h5>
                        <h1 class="section-title">Boosting your
                            business using
                            our team</h1>
                        <p>Our team is a melting pot of diverse expertise and skills. From seasoned industry to young talents, member brings a unique set of experiences</p>
                    </div>

                    <div class="right flex-1">
                        <div class="feature3-lists">
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Diverse Expertise</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Collaborative Culture</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Customer-Centric Approach</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Passion for Excellence</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Empowered Learning</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                            <div class="feature-box">
                                <i class="icon-box las la-check"></i>
                                <h3>Innovation and Creativity</h3>
                                <p>Our team boasts a diverse range of the expertise, compassing various disciplines and industries. This wealth of knowledge allows us </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Our Team -->
        <section class="our-team-2-area">
            <div class="custom-container">
                <div class="section-header our-team-2-header d-flex align-items-center justify-content-between w-full">
                    <img class="bg-shape" src="{% static 'assets/imgs/bg-shape-10.svg '%}" alt="Shape" />
                    <div class="left">
                        <h5 class="section-subtitle">OUR TEAM</h5>
                        <h1 class="section-title">Our professional experts</h1>
                        <p>Our team is a collective force of top talents, experts, and <br>
                            visionaries from diverse fields.</p>
                    </div>

                    <a href={% url "company.contact_us" %} class="theme-btn">Book an appointment with our expert now</a>
                </div>

                <div class="our-team-2-lists">
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team4.png' %}" alt="Team"/>
                        </div>
                        <h2>Jennifer Linda</h2>
                        <span class="designation">Product Designer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team5.png' %}" alt="Team"/>
                        </div>
                        <h2>Merlin Bullock</h2>
                        <span class="designation">Business Analyst</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team6.png' %}" alt="Team"/>
                        </div>
                        <h2>Beatrix Clara</h2>
                        <span class="designation">Front End Developer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team7.png' %}" alt="Team"/>
                        </div>
                        <h2>Richard Parker</h2>
                        <span class="designation">Back End Developer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team8.png' %}" alt="Team"/>
                        </div>
                        <h2>Aminul Ashfaq</h2>
                        <span class="designation">Devops Engineer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team9.png' %}" alt="Team"/>
                        </div>
                        <h2>Margeret Allan</h2>
                        <span class="designation">Cloud Expert</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team10.png' %}" alt="Team"/>
                        </div>
                        <h2>Mason Williams</h2>
                        <span class="designation">System Engineer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="our-team-2-card">
                        <div class="img-box">
                            <img src="{% static 'assets/imgs/team11.png' %}" alt="Team"/>
                        </div>
                        <h2>Emily Frida</h2>
                        <span class="designation">UX Designer</span>
                        <ul class="social-links d-flex align-items-center">
                            <li><a href="#">
                                <i class="iconoir-facebook"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-twitter"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="iconoir-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <!-- CTA -->
        <section class="cta-area">
            <div class="custom-container">
                <div class="cta-body text-center">
                    <img src="{% static 'assets/imgs/bg-shape-11.svg '%}" alt="Shape" class="animation-slide-left bg-shape"/>
                    <div class="our-expert-team-box">
                        <div class="our-expert-team-box-inner d-flex align-items-center">
                            <div class="imgs d-flex align-items-center">
                                <img src="{% static 'assets/imgs/small-img-4.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-3.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-2.png' %}" alt="team" />
                                <img src="{% static 'assets/imgs/small-img-1.png' %}" alt="team" />
                            </div>
                        </div>
                    </div>
                    <h2>Need any further assitance?</h2>
                    <p>Feel free to reach out for any inquiries or assistance.</p>
                    <a href={% url "company.contact_us" %} class="theme-btn">Book an appointment now</a>

                </div>
            </div>
        </section>



{% endblock section %}